
.user-picture
{
    margin-top: -70px;
    border-radius: 50%;
    border: 3px double #E0E0E0 !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);

}



.no-border, .no-border th> .no-border > td
{
    border-width: 0px  !important;
    border-color: transparent !important

}

